img#MApic {
	width: 900px;
	 display: block;
	 margin: auto;
	 border: solid 3px black;
}

img#Glovesclip {
	border: solid 3px black;
	width: 100px;
}

body {
	background-color: dimgrey;
}

h1 {
	color: RGB(155, 35, 53);
	 border: solid 3px black;
	 background-color: white;
	 width: 900px;
	 text-align: center;
	 margin: auto;
}

p {
	color: white;
	 text-align: center;
	 font-family: "Georgia", Georgia, serif;
}